[submodule "vim/pack/dense-analysis/start/ale"]
	path = vim/pack/dense-analysis/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/Shougo/start/deoplete.nvim"]
	path = vim/pack/Shougo/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/scrooloose/start/nerdtree"]
	path = vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/prabirshrestha/start/vim-lsp"]
	path = vim/pack/prabirshrestha/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
