[submodule "vim/pack/dense-analysis/start/ale"]
	path = vim/pack/dense-analysis/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/Shougo/start/deoplete.nvim"]
	path = vim/pack/Shougo/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
